#hsk1  {height: 100px;
        width: 100px;
        margin-left: 200px;
        margin-right: auto;}
      
#hsk2 {height: 100px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      
        
    }

 body {
        background-image: url("https://www.civilsociety.co.uk/uploads/assets/8f52799a-5512-4520-9bb632a2a84d88ed/article_img_detail_5ba532e110cf7bcee7b0d6e49c027c8b/Dogs-Trust-440.jpg");
        background-repeat: repeat-x;
        background-color: aqua;
        }

h1{text-align: center;
    }
.scrollbar {text-align: center; 
        font-size: 30px;
        margin:auto;
         width:700px;
        height: 25px;
        border: 4px solid rgb(72, 9, 85);
        padding: auto;
        padding-bottom: 10px;
    }

.div2{text-align: center;
font-weight: bold;
font-style:italic;
}

h2{position: relative;left: 225px;}

.puppyimg1{display:block;
margin-left: auto;
margin-right: auto;}

.video{ position: relative;left: 140px;}

.huskynames{position: relative;left: 400px;}

#btngame{border: 15px solid black;
    float: left;
    width: 33.33%;
padding: 5px;
}