#hsk1  {height: 100px;
        width: 100px;
        margin-left:auto;
        margin-right:auto;
        display:block
    }
#hsk2 {height: 100px;
        width: 100px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

 body {
        background-image: url("https://www.civilsociety.co.uk/uploads/assets/8f52799a-5512-4520-9bb632a2a84d88ed/article_img_detail_5ba532e110cf7bcee7b0d6e49c027c8b/Dogs-Trust-440.jpg");
        background-repeat: repeat-x;
        background-color: aqua;
        }

h1{text-align: center;
    }
.div1 {text-align: center; 
        margin:auto;
         width:700px;
        height: 25px;
        border: 4px solid blueviolet ;
    }

.div2{text-align: center;
font-weight: bold;
font-style:italic;
}

h2{position: relative;left: 225px;}

.puppyimg1{display:block;
margin-left: auto;
margin-right: auto;}

.video{ position: relative;left: 140px;}

.huskynames{position: relative;left: 400px;}